# Compute the tf-idf for each term in the vocabulary

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("result/term_document_matrix.csv")

In [3]:
df = df.rename(columns={'Unnamed: 0' : 'Token'})

In [4]:
df

,Token,Aloe,Mwape Miti,Active Server Pages,Antidepressant,Argon,Antarctic Circumpolar Current,Saviour Kasukuwere,Hudhayfah ibn al-Yaman,Christmas Island,...,Amputation,Başmakçı,"Richilde, Countess of Hainaut",Battle of Berestechko,Castelloza,Antioxidant,"Hassa, Hatay",Breast reconstruction,Susan Williams-Ellis,Aquila
0,0,0,0,15,10,8,0,0,0,3,...,0,0,0,0,0,1,0,0,0,0
1,000,0,0,0,0,1,0,0,0,0,...,3,0,0,20,0,1,0,0,0,0
2,00015,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13933,קייסי,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13934,של,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13935,观音寺,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13936,顺天宫,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13937,鵬,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
total_doc = 50

In [ ]:
def compute_tf():
    pass

def compute_df(df: pd.DataFrame) -> np.array:
    df_arr = np.sum(df > 0, axis=1)
    return df_arr

def compute_idf(df: pd.DataFrame) -> np.array:
    df_arr = compute_df(df)
    idf_arr = np.log(total_doc/(df_arr+1))
    return idf_arr

def compute_tf_idf(df: pd.DataFrame) -> np.array:
    tf_arr = df.apply(compute_tf, axis=0)
    idf_arr = compute_idf(df)
    tf_idf = tf_arr.multiply(idf_arr, axis=0)
    return tf_idf